* {
    font-family: sans-serif;
}

a, p, h1 {
    margin: 0;
    padding: 0;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

html {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-image: url("../img/pointyend.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.globalContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

@media all AND (max-width: 900px) {

    .globalContainer {
    }

}